<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>알고리즘 문제 업로드</h2>
    </div>

    <h4 class="mb-3">알고리즘 제출</h4>

    <form th:action method="post" enctype="multipart/form-data">
        <ul>
            <li>문제번호 입력 <input type="text" name="problemName"></li>
            <li>첨부파일 <input type="file" name="attachFile"></li>
            <li>이미지 파일들<input type="file" multiple="multiple" name="imageFiles"></li>
        </ul>
        <input type="submit" />
    </form>
</div>

</body>
</html>