<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Problem View</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            width: 20%;
            text-align: left;
            border-bottom: 5px solid #ddd;
            padding-right: 20px;
        }
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<h1>제출한 문제들</h1>
<div>
    <a href="/problems/new">다른 문제 업로드하기</a>
</div>
<table>
    <thead>
    <tr>
        <th>사용자 이름</th>
        <th>문제 이름</th>
        <th>작성 시간</th>
        <th>수정 시간(수정할 때마다 증가)</th>
        <th>수정</th>
        <th>문제 URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="problem : ${problems}">
        <td th:text="${problem.getUserName()}"></td>
        <td th:text="${problem.problemName}"></td>
        <td th:text="${problem.createdTime}"></td>
        <td th:text="${problem.updatedTime}"></td>
        <td>
            <form th:action="@{/problem/edit}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="problemName" th:value="${problem.getProblemName()}">
                <button type="submit">수정하기</button>
                <input type="file" name="attachFile">
            </form>
        </td>
        <td>
            <form th:action="@{/problem/delete}" method="post">
                <input type="hidden" name="problemName" th:value="${problem.getProblemName()}">
                <button type="submit">삭제하기</button>
            </form>
        </td>
        <td>
            <a th:href="@{${problem.problemURL}}" th:text="다운로드" download></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
