<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script>
        let stompClient = null;
        function setConnected(connected) {
            $("#connect").prop("disabled", connected);
            $("#disconnect").prop("disabled", !connected);
            if (connected) {
                $("#conversation").show();
                $("#file-upload").show();
            } else {
                $("#conversation").hide();
                $("#file-upload").hide();
            }
        }
        function connect() {
            let socket = new SockJS('/login');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('로그인 : ' + frame);
                stompClient.send('/app/hello', {}, $('#name').text());
                stompClient.subscribe('/topic/hello', function (message) {
                    showGreeting(message.body);
                });
                stompClient.subscribe('/topic/bye', function (message) {
                    showGreeting(message.body);
                })
                setConnected(true);
            });
        }

        function disconnect() {
            stompClient.send('/app/bye', {}, $('#name').text());
            setConnected(false);
            if (stompClient !== null) {
                stompClient.disconnect();
            }
        }

        function showGreeting(message) {
            $("#greetings").append("<tr><td>" + message + "</td></tr>");
        }


        $(function () {
            $("#file-upload").hide();
            $("form").on('submit', function (e) {
                e.preventDefault();
            });
            $("#connect").click(function () {
                connect();
            });
            $("#disconnect").click(function () {
                disconnect();
            });
            $("#send").click(function () {
                sendName();
            });
        });
    </script>
</head>
<body>
<noscript><h2 th:text="'Seems your browser doesn\'t support Javascript! Websocket relies on Javascript being ' +
    'enabled. Please enable Javascript and reload this page!'" style="color: #ff0000"></h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <h4 class="mb-3" th:text="|회원이름: ${session.loginMember.getUserName()}|" th:id="name">로그인 사용자 이름</h4>
                    <button id="connect" class="w-100 btn btn-dark btn-lg" type="submit">
                        연결
                    </button>
                    <button id="disconnect" class="w-100 btn btn-dark btn-lg" type="submit"
                            disabled="disabled">
                        로그아웃
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>대화</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
        <ul id="file-upload">
            <li>[협동분산시스템] 알고리즘 문제 업로드 사이트
                <ul>
                    <li><a href="/spring/upload">파일 업로드하기</a></li>
                    <!--                    <li><a href="/problems/new">알고리즘 - 코드, 제출 이미지 업로드하기</a></li>-->
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>